Repository project-studying-dotnet/Streetcode-Server-September, pull requests merged in 2024-09, with the labels that each got.

#23 RelatedTermHandler UnitTests
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedTerm/Create/CreateRelatedTermHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedTerm/Delete/DeleteRelatedTermHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedTerm/GetAllByTermId/GetAllRelatedTermsByTermIdHandlerTests.cs
Labels: test

#40 updated namespace declaration
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Fact/GetAll/GetAllFactsHandlerTests.cs
Labels: test

#25 fix/14/ enable server certificate validation
  Streetcode/Streetcode.WebApi/Utils/WebParsingUtils.cs
Labels: vulnerability

#46 #45 Write tests for Email
  Streetcode/Streetcode.XUnitTest/MediatRTests/Email/SendEmailHandlerTests.cs
Labels: test

#48 Fix namespaces and reorganize file structure
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Fact/GetAll/GetAllFactsHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Fact/GetAllFactsHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedTerm/CreateRelatedTermHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedTerm/DeleteRelatedTermHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedTerm/GetAllRelatedTermsByTermIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Term/GetAll/GetAllTermsHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Term/GetAllTermsHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Term/GetById/GetTermByIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Term/GetTermByIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Text/GetAllTextsHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Text/GetTextsByIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Texts/GetById/GetTextsByIdHandlerTests.cs
Labels: test

#57 Test/5/unit tests for streetcodefact getbyid
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Fact/GetFactByIdHandlerTest.cs
Labels: test

#63 Write unit tests to Fact/GetFactByStreetcodeId
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Fact/GetFactByStreetcodeIdHandlerTest.cs
Labels: test

#56 44 write tests for mediatrtimelinetimelineitem
  Streetcode/Streetcode.XUnitTest/MediatRTests/Timeline/TimelineItem/GetAllTimelineItemsHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Timeline/TimelineItem/GetTimelineItemByIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Timeline/TimelineItem/GetTimelineItemsByStreetcodeIdHandlerTests.cs
Labels: test

#70 Added unit tests for MediatRTests/News/CreateNewsHandler
  Streetcode/Streetcode.XUnitTest/MediatRTests/News/CreateNewsHandlerTests.cs
Labels: test

#74 tests
  Streetcode/Streetcode.XUnitTest/MediatRTests/Sources/SourceLinkCategory/GetAllCategoriesHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Sources/SourceLinkCategory/GetAllCategoriesNamesHandlerTests.cs
Labels: test

#41 test/28/ cover GetRelatedFiguresByStreetcodeIdHandler with unit tests
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedFigure/GetRelatedFiguresByStreetcodeIdHandlerTests.cs
Labels: test

#96 89 unit tests for mediatr tag
  Streetcode/Streetcode.XUnitTest/MediatRTests/AdditionalContent/Tag/CreateTagHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/AdditionalContent/Tag/GetAllTagsHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/AdditionalContent/Tag/GetTagByIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/AdditionalContent/Tag/GetTagByStreetcodeIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/AdditionalContent/Tag/GetTagByTitleHandlerTests.cs
Labels: test

#95 refactor/84/ move ef entity configuration to separate classes
  Streetcode/Streetcode.DAL/Persistence/Configurations/AdditionalContent/Coordinates/CoordinateConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/AdditionalContent/StreetcodeTagIndexConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/AdditionalContent/TagConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/Analytics/StatisticRecordConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/Media/Images/ImageConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/News/NewsConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/Partners/PartnerConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/Sources/SourceLinkCategoryConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/Streetcode/RelatedFigureConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/Streetcode/StreetcodeArtConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/Streetcode/StreetcodeContentConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/Streetcode/TextContent/RelatedTermConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/Team/TeamMemberConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/Team/TeamMemberPositionsConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/Timeline/HistoricalContextTimelineConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/Toponyms/ToponymConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/StreetcodeDbContext.cs
Labels: refactor

#109 Global exception handling Middleware
  Streetcode/Streetcode.BLL/Exceptions/CustomException.cs
  Streetcode/Streetcode.WebApi/Extensions/GlobalExceptionHandlerBuilderExtension.cs
  Streetcode/Streetcode.WebApi/Middlewares/GlobalExceptionHandlingMidlleware.cs
  Streetcode/Streetcode.WebApi/Program.cs
Labels: enhancement

#117 Fix warnings in DbUpdate
  Streetcode/DbUpdate/DbUpdate.csproj
  Streetcode/DbUpdate/Program.cs
Labels: invalid

#118 feat/114/add source category to streetcode implemented
  Streetcode/Streetcode.BLL/Dto/Sources/CategoryContentCreateDto.cs
  Streetcode/Streetcode.BLL/MediatR/Sources/StreetcodeCategoryContent/Create/CreateStreetcodeCategoryContentCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Sources/StreetcodeCategoryContent/Create/CreateStreetcodeCategoryContentHandler.cs
  Streetcode/Streetcode.BLL/MediatR/Sources/StreetcodeCategoryContent/Create/CreateStreetcodeCategoryValidator.cs
  Streetcode/Streetcode.WebApi/Controllers/Source/SourcesController.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Sources/SourceLinkCategory/DeleteCategoryContentByStreetcodeIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Sources/StreetcodeCategoryContent/CreateStreetcodeCategoryContentHandlerTests.cs
Labels: test, task

#115 feat/102/implement create source link feature
  Streetcode/Streetcode.BLL/Dto/Sources/SourceLinkCategoryCreateDto.cs
  Streetcode/Streetcode.BLL/Mapping/Sources/SourceLinkCategoryProfile.cs
  Streetcode/Streetcode.BLL/MediatR/AdditionalContent/Coordinate/Create/CreateCoordinateHandler.cs
  Streetcode/Streetcode.BLL/MediatR/Sources/SourceLinkCategory/Create/CreateSourceLinkCategoryCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Sources/SourceLinkCategory/Create/CreateSourceLinkCategoryCommandValidator.cs
  Streetcode/Streetcode.BLL/MediatR/Sources/SourceLinkCategory/Create/CreateSourceLinkCategoryHandler.cs
  Streetcode/Streetcode.WebApi/Controllers/Source/SourcesController.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Sources/SourceLinkCategory/CreateSourceLinkCategoryHandlerTests.cs
Labels: test, task

#129 test/128/ add unit tests
  Streetcode/Streetcode.BLL/MediatR/Streetcode/RelatedFigure/GetByTagId/GetRelatedFiguresByTagIdHandler.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedFigure/GetRelatedFiguresByTagIdHandlerTests.cs
Labels: test

#160 fix/156/ move transactions tests into right directory and adjust…
  Streetcode/Streetcode.XUnitTest/MediatRTests/Transactions/TransactionLink/GetAllTransactLinksHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Transactions/TransactionLink/GetTransactByStreetcodeIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Transactions/TransactionLink/GetTransactLinkByIdHandlerTests.cs
Labels: code smell

#162 fix/161/fixed some sonar issues
  Streetcode/Streetcode.BLL/Mapping/AdditionalContent/TagProfile.cs
  Streetcode/Streetcode.BLL/Mapping/Streetcode/StreetcodeProfile.cs
  Streetcode/Streetcode.BLL/Mapping/Timeline/TimelineItemProfile.cs
  Streetcode/Streetcode.BLL/MediatR/Toponyms/GetByStreetcodeId/GetToponymsByStreetcodeIdHandler.cs
  Streetcode/Streetcode.BLL/Services/Text/AddTermsToTextService.cs
Labels: code smell

#151 MediatR/Media/Art Tests
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Art/GetAllArtsHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Art/GetArtBuIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Art/GetArtsByStreetcodeIdHandlerTests.cs
Labels: test

#172 Feat/164/create term
  Streetcode/Streetcode.BLL/Dto/Streetcode/TextContent/RelatedDto.cs
  Streetcode/Streetcode.BLL/Dto/Streetcode/TextContent/Term/RelatedTermDto.cs
  Streetcode/Streetcode.BLL/Dto/Streetcode/TextContent/Term/TermCreateDto.cs
  Streetcode/Streetcode.BLL/Dto/Streetcode/TextContent/Term/TermDto.cs
  Streetcode/Streetcode.BLL/Mapping/Streetcode/TextContent/RelatedTermProfile.cs
  Streetcode/Streetcode.BLL/Mapping/Streetcode/TextContent/TermProfile.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/RelatedTerm/Create/CreateRelatedTermCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/RelatedTerm/Create/CreateRelatedTermHandler.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/RelatedTerm/Delete/DeleteRelatedTermCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/RelatedTerm/Delete/DeleteRelatedTermHandler.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/RelatedTerm/GetAllByTermId/GetAllRelatedTermsByTermIdHandler.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/RelatedTerm/GetAllByTermId/GetAllRelatedTermsByTermIdQuery.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/RelatedTerm/Update/UpdateRelatedTermCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Term/Create/CreateTermCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Term/Create/CreateTermCommandValidator.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Term/Create/CreateTermHandler.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Term/GetAll/GetAllTermsHandler.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Term/GetAll/GetAllTermsQuery.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Term/GetById/GetTermByIdHandler.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Term/GetById/GetTermByIdQuery.cs
  Streetcode/Streetcode.BLL/Streetcode.BLL.csproj
  Streetcode/Streetcode.WebApi/Controllers/Streetcode/TextContent/RelatedTermController.cs
  Streetcode/Streetcode.WebApi/Controllers/Streetcode/TextContent/TermController.cs
  Streetcode/Streetcode.WebApi/Streetcode.WebApi.csproj
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedTerm/CreateRelatedTermHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedTerm/DeleteRelatedTermHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedTerm/GetAllRelatedTermsByTermIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Term/CreateTermCommandValidatorTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Term/CreateTermHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Term/GetAllTermsHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Term/GetTermByIdHandlerTests.cs
Labels: test, task

#176 Feat/165/add related term
  Streetcode/Streetcode.BLL/Dto/Streetcode/TextContent/Term/RelatedTermCreateDto.cs
  Streetcode/Streetcode.BLL/Dto/Streetcode/TextContent/Term/RelatedTermFullDto.cs
  Streetcode/Streetcode.BLL/Mapping/Streetcode/TextContent/RelatedTermProfile.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/RelatedTerm/Create/CreateRelatedTermCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/RelatedTerm/Create/CreateRelatedTermHandler.cs
  Streetcode/Streetcode.DAL/Entities/Streetcode/TextContent/RelatedTerm.cs
  Streetcode/Streetcode.WebApi/Controllers/Streetcode/TextContent/RelatedTermController.cs
  Streetcode/Streetcode.XUnitTest/MappingTests/Streetcode/TextContent/RelatedTermProfileTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedTerm/CreateRelatedTermHandlerTests.cs
Labels: test, task

#181 feat/171/ rework delete related term functionality
  Streetcode/Streetcode.BLL/MediatR/Streetcode/RelatedTerm/Delete/DeleteRelatedTermCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/RelatedTerm/Delete/DeleteRelatedTermHandler.cs
  Streetcode/Streetcode.DAL/Entities/Streetcode/TextContent/RelatedTerm.cs
  Streetcode/Streetcode.WebApi/Controllers/Streetcode/TextContent/RelatedTermController.cs
  Streetcode/Streetcode.XUnitTest/MappingTests/Streetcode/TextContent/RelatedTermProfileTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedTerm/DeleteRelatedTermHandlerTests.cs
Labels: task

#185 Feat/81/add text
  Streetcode/Streetcode.BLL/Dto/Streetcode/TextContent/Text/TextCreateDto.cs
  Streetcode/Streetcode.BLL/Mapping/Streetcode/TextContent/TextProfile.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Text/Create/CreateTextCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Text/Create/CreateTextCommandValidator.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Text/Create/CreateTextHandler.cs
  Streetcode/Streetcode.WebApi/Controllers/Streetcode/TextContent/TextController.cs
  Streetcode/Streetcode.XUnitTest/MappingTests/Streetcode/TextContent/TextProfileTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Text/CreateTextCommandValidatorTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Text/CreateTextHandlerTests.cs
Labels: task

#188 Feat/187/add video
  Streetcode/Streetcode.BLL/Dto/Media/Video/VideoCreateDto.cs
  Streetcode/Streetcode.BLL/Dto/Media/Video/VideoDto.cs
  Streetcode/Streetcode.BLL/Dto/Media/VideoDto.cs
  Streetcode/Streetcode.BLL/Mapping/Media/VideoProfile.cs
  Streetcode/Streetcode.BLL/MediatR/Media/Video/Create/CreateVideoCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Media/Video/Create/CreateVideoCommandValidator.cs
  Streetcode/Streetcode.BLL/MediatR/Media/Video/Create/CreateVideoHandler.cs
  Streetcode/Streetcode.WebApi/Controllers/Media/VideoController.cs
  Streetcode/Streetcode.XUnitTest/MappingTests/Media/Video/VideoProfileTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Video/CreateVideoCommandValidatorTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Video/CreateVideoHandlerTest.cs
Labels: task

#214 Create Streedcode.Identity project
  Streetcode/Streedcode.Identity/Controllers/AuthApiController.cs
  Streetcode/Streedcode.Identity/Data/AppDbContext.cs
  Streetcode/Streedcode.Identity/Extensions/WebApplicationExtensions.cs
  Streetcode/Streedcode.Identity/Migrations/20240926094449_Init.Designer.cs
  Streetcode/Streedcode.Identity/Migrations/20240926094449_Init.cs
  Streetcode/Streedcode.Identity/Migrations/AppDbContextModelSnapshot.cs
  Streetcode/Streedcode.Identity/Models/ApplicationUser.cs
  Streetcode/Streedcode.Identity/Models/Dto/ResponseDto.cs
  Streetcode/Streedcode.Identity/Program.cs
  Streetcode/Streedcode.Identity/Properties/launchSettings.json
  Streetcode/Streedcode.Identity/Services/Interfaces/IAuthService.cs
  Streetcode/Streedcode.Identity/Services/Realizations/AuthService.cs
  Streetcode/Streedcode.Identity/Streedcode.Identity.csproj
  Streetcode/Streedcode.Identity/appsettings.Development.json
  Streetcode/Streedcode.Identity/appsettings.json
  Streetcode/Streetcode.sln
Labels: enhancement

#221 feat/213/ extract common error msgs to resource files
  Streetcode/Streetcode.BLL/Extensions/StringLocalizerExtensions.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Text/GetById/GetTextByIdHandler.cs
  Streetcode/Streetcode.BLL/Resources/ErrorKeys.cs
  Streetcode/Streetcode.BLL/Resources/ErrorMessages.Designer.cs
  Streetcode/Streetcode.BLL/Resources/ErrorMessages.resx
  Streetcode/Streetcode.BLL/Resources/ValidationErrorMessages.Designer.cs
  Streetcode/Streetcode.BLL/Resources/ValidationErrorMessages.resx
  Streetcode/Streetcode.BLL/Streetcode.BLL.csproj
  Streetcode/Streetcode.WebApi/Extensions/ServiceCollectionExtensions.cs
  Streetcode/Streetcode.WebApi/Program.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Text/GetTextsByIdHandlerTests.cs
Labels: task

#234 fix/233/fix launch settings to open swagger ui on startup in Local env
  Streetcode/Streetcode.WebApi/Properties/launchSettings.json
Labels: enhancement
